body{
    margin:0;
}
header img{
    position: relative;
    margin-left:  50%;;
    margin-right:  50%;;
    margin-top: -500px;
  }
  .right{
    float: right;
    margin-top: -80px;
    margin-right: 20px;
  }
  .button-text{
    background-color: grey;
    text-decoration: none;
    border-radius: 8px ;
    padding: 16px 16px;
    border:none;
    outline:none;
    cursor: pointer;
  }
  nav{
    padding: 24px;
    background-color: white;
    opacity: 1;
    position: fixed;
    top:0;
  }
  .menu-item
  {
    font-size: 24px;
    margin-right: 24px;
    color: gray;
    text-decoration: none
  }
  .image img{
    width: 100%;
    height:100%;
  }
  .about{
    position: absolute;
    float: center;
    border: 1px solid grey;
    opacity: 0.6;
  }